body {
  background-color: #f4f4f4;
} 
 

.container {
  max-width: 1024px;
  margin: 0 auto;
} 

header {
  text-align: center;
} 

.instructions {
  color: #050;
  text-align: center;
}

.examples {
  margin: 40px 0;
  text-align: center;
} 

.examples div  {
  margin: 40px 0;
}

.examples .result {
  color: #a11;
}

.input { 
  text-align: center;
} 

.input label {
  display: inline-block;
  border: 2px solid green;
  padding: 10px 20px;
}

.input input[type=text] {
  font-size: 12px;
  padding: 7px 5px;
} 

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #1c1;
  text-decoration: none;
  color: #131;
} 

.btn:hover, .btn:active {
  background-color: #050;
  color: #fff;
}


footer {
  padding: 40px 0;
  text-align: center;
} 

